body {
  background-color: var(--primary);
  font-family: Inter, sans-serif;
}

.content-section {
  width: clamp(100px, 100%, 300px);
  margin: auto;
  border-inline: 4px solid var(--additional);
}

.content-section_theme_dark {
  color: var(--txtColor);
  background-color: var(--secondary)
}

.content-section_thene_bright {
  color: var(--secondary);
  background-color: var(--additional);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 20px;
}

.header__logo {
  display: block;
  width: 80px;
}

.header__logo-image {
  width: 100%;
}

.header__menu-list, .header__menu-item_box-nav{
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.header__menu-item_active a {
  color: var(--additional);
}

.header__menu-link {
  color: var(--primary);
  text-decoration: none;
  transition: 0.8s;
}

.header__under_menu-item {
  align-self: center;
  position: relative;
}

.header__menu-link:hover {
  color: var(--additional);
}

.header__menu-item_box-nav {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  position: absolute;
  right: 85px;
  top: 20px;
  min-width: 145px;
  padding: 0.8em;
  white-space: nowrap;
  border-radius: 0.8rem;
  border: 1px solid var(--primary);
  background-color: var(--secondary);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1)
}

.hidden {
  display: none
}

.cover {
  width: 300px;
  height: 200px;
  padding: 7px 24px 32px 20px;
  background-image: url(../src/img/svg/preview.svg);
  background-color: var(--secondary);;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 99% auto
}

.cover__title {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--primary);
  font-family: "Genshin Impact", serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 1.2 ;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: end
}

.intro_heding {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: var(--primary);
  font-size: 16px;
}

.intro_title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.intro_data {
  font-size: 16px;
  line-height: 1.2;
  white-space: nowrap
}

.intro_main-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px 0px 0px 0px;
  font-size: 16px;
  color: var(--primary);
}

.info {
  padding: 0 20px 30px;
}

.reasons {
  padding: 40px 20px;
}

.content-section__title {
  margin-bottom: 20px;
  font-family: "Genshin impact", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.2
}