body {
  background-color: var(--primary);
  font-family: "Roboto", Arial, sans-serif;
}

.content-section {
  width: clamp(100px, 100%, 300px);
  margin: auto;
  border-inline: 4px solid var(--additional);
}

.content-section_theme_dark {
  color: var(--txtColor);
  background-color: var(--secondary)
}

.content-section_thene_bright {
  color: var(--secondary);
  background-color: var(--additional);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 20px;
}

.header__logo {
  display: block;
  width: 100px;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 1))
}

.header__logo-image {
  width: 100%;
}

.header__menu-list, .header__menu-item_box-nav{
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.header__menu-item_active a {
  color: var(--additional);
}

.header__menu-link {
  color: var(--primary);
  text-decoration: none;
  transition: 0.8s;
}

.header__menu-details {
  color: var(--primary);
  position: relative;
}

.header__menu-details-summary {
  list-style: none;
  color: var(--primary);
  fill: var(--primary);
  background: url('../src/img/svg/list.svg') no-repeat;
  background-position: 0 50%;
  background-size: 16px;
  padding: 0 0 0 20px;
  translate: -20px;
  transform: 0.5s color;
  cursor: pointer;
}

.header__menu-details[open]
> .header__menu-details-summary {
  color: var(--additional)
}

.header__menu-details-summary::-webkit-details-marker {
  display: none;
} 

.header__menu-details-links {
  position: absolute;
  top: 20px;
  right: 90px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 145px;
  padding: 16px;
  white-space: nowrap;
  border: 1px solid var(--primary);
  background-color: var(--secondary);
  border-radius: 16px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
}

.header__menu-details-link {
  color: var(--primary);
  text-decoration: none;
  transition: 0.3s;
}

.header__menu-details-link:hover {
  color: var(--additional);
}

.header__menu-link:hover {
  color: var(--additional);
}

.accent-db {
  color: var(--additional);
  font-weight: 800 ;
}

.cover {
  width: 300px;
  height: 200px;
  padding: 7px 24px 32px 20px;
  background-image: url(../src/img/svg/preview.svg);
  background-color: var(--secondary);;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 99% auto
}

.cover__title {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--primary);
  font-family: "Lora", Arial, sans-serif;
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2 ;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: end
}

.intro_heding {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: var(--primary);
  font-size: 16px;
}

.intro_title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.intro_data {
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  white-space: nowrap
}

.intro_main-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px 0px 0px 0px;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  color: var(--primary);
}

.info {
  padding: 0 20px 30px;
}

.reasons {
  padding: 20px 20px;
}

.content-section__title {
  margin-bottom: 20px;
  font-family: "Lora", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.2
}

.content-section__introduction {
  margin: 0 0 32px;
  font-size: 20px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 600;
  line-height: 1.35
}

.content-section__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 0 0 16px;
  line-height: 1.2;
}

.content-section__list-accent {
  font-weight: 800;
  font-family: "Lora", Arial, sans-serif;
}

.how-to {
  padding:20px;
}

.card {
  padding: 30px;
  border-radius: 30px;
} 

.cards-list {
  display: flex;
  flex-direction: column; 
  gap: 20px;
  list-style: none;
}

.card__title {
  font-family: "Lora", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  margin-top: 12px;
}

.card__text {
  font-size: 16px;
  line-height: 1.35;
}

.card_theme_brigh {
  color: var(--secondary);
  background-color: var(--additional)
}

/*
.card_theme_brigh {
  color: var(--additional);
  background-color: var(--secondary)
}
*/

.content-section__subtitle {
  font-family: "Lora", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.card__artifact-photo {
  display: block;
  width: 60px;
  border-radius: 16px;
  margin-bottom: 12px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5)
}

.card__artifact-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 115%;
  margin-bottom: 12px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--additional);
  padding: 15px;
}

.footer__copy {
  color: var(--primary);
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.footer__list a {
  color: var(--primary);
  text-decoration: none;
}