@font-face {
  font-family: 'Lora';
  src: url('Lora-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-weight: bold;
  src: url('Lora-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-style: italic;
  src: url('Lora-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-weight: bold;
  font-style: italic;
  src: url('Lora-BoldItalic.ttf') format('truetype');
}


@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: url('Roboto-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: italic;
  src: url('Roboto-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  src: url('Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  font-style: italic;
  src: url('Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  src: url('Roboto-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: italic;
  src: url('Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: italic;
  src: url('Roboto-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  src: url('Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  src: url('Roboto-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: italic;
  src: url('Roboto-ThinItalic.ttf') format('truetype');
} 